@charset 'UTF-8';

// Bootstrap settings
//$font-size-root:			16px;
$headings-font-weight:   	300;

$gray-dark:                 #373a3c;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

$brand-primary:             #0275d8;
$brand-success:             #5cb85c;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;
$brand-inverse:             $gray-dark;

$font-family-sans-serif: 	"Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$enable-flex: 				true;
$enable-shadows:            true;
$enable-gradients:          true;
$enable-transitions:        true;
$enable-hover-media-query:  true;
$enable-print-styles: 		false;
$breadcrumb-bg:				$gray-lightest;
$dt-font-weight:			300;

// Bootstrap
@import '../../bower_components/bootstrap/scss/custom';
@import '../../bower_components/bootstrap/scss/variables';
@import '../../bower_components/bootstrap/scss/mixins';

// Reset and dependencies
@import '../../bower_components/bootstrap/scss/normalize';
//@import '../../bower_components/bootstrap/scss/print';

// Core CSS
@import '../../bower_components/bootstrap/scss/reboot';
@import '../../bower_components/bootstrap/scss/type';
@import '../../bower_components/bootstrap/scss/images';
@import '../../bower_components/bootstrap/scss/code';
@import '../../bower_components/bootstrap/scss/grid';
@import '../../bower_components/bootstrap/scss/tables';
@import '../../bower_components/bootstrap/scss/forms';
@import '../../bower_components/bootstrap/scss/buttons';

// Components
@import '../../bower_components/bootstrap/scss/animation';
@import '../../bower_components/bootstrap/scss/dropdown';
@import '../../bower_components/bootstrap/scss/button-group';
@import '../../bower_components/bootstrap/scss/input-group';
@import '../../bower_components/bootstrap/scss/custom-forms';
@import '../../bower_components/bootstrap/scss/nav';
@import '../../bower_components/bootstrap/scss/navbar';
@import '../../bower_components/bootstrap/scss/card';
@import '../../bower_components/bootstrap/scss/breadcrumb';
@import '../../bower_components/bootstrap/scss/pagination';
@import '../../bower_components/bootstrap/scss/tags';
@import '../../bower_components/bootstrap/scss/jumbotron';
@import '../../bower_components/bootstrap/scss/alert';
//@import '../../bower_components/bootstrap/scss/progress';
@import '../../bower_components/bootstrap/scss/media';
@import '../../bower_components/bootstrap/scss/list-group';
@import '../../bower_components/bootstrap/scss/responsive-embed';
@import '../../bower_components/bootstrap/scss/close';

// Components w/ JavaScript
@import '../../bower_components/bootstrap/scss/modal';
@import '../../bower_components/bootstrap/scss/tooltip';
//@import '../../bower_components/bootstrap/scss/popover';
//@import '../../bower_components/bootstrap/scss/carousel';

// Utility classes
@import '../../bower_components/bootstrap/scss/utilities';

// DataTables.net for Bootstrap
//@import '../../bower_components/datatables.net-bs/css/dataTables.bootstrap';

// Font-Awesome
$fa-font-path: '../fonts';
@import '../../bower_components/font-awesome/scss/font-awesome';

// My Styles
#header-toolbar { margin-bottom: 20px; }
#header-toolbar-hidden { display: none; }

.jumbotron {
	.value { font-weight: 600; }
}

#dir {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	//.col-icon { }
	//.col-name { }
	.col-size { white-space: nowrap; text-align: right; }
	.col-date { white-space: nowrap; text-align: right; }
	.col-actions { white-space: nowrap; text-align: right; }
	thead th.col-icon { width: 1%; }
	//thead th.col-name { }
	thead th.col-size { width: 1%; }
	thead th.col-date { width: 1%; }
	thead th.col-actions { width: 1%; }
	//tbody td.col-icon { }
	tbody td.col-name { overflow: hidden; }
	//tbody td.col-size { }
	//tbody td.col-date { }
	//tbody td.col-actions { }
}

div.mediainfo dd { overflow: hidden; }

.modal {
	.modal-body {
		&.modal-body-ajax-updating .modal-body-ajax-updated { display: none; }
		&.modal-body-ajax-updated .modal-body-ajax-updating { display: none; }
	}
}

.embed-responsive {
	&.embed-responsive-auto { 
		position: inherit; 
		height: inherit; 
		overflow: inherit;
		
		.embed-responsive-item { 
			position: inherit; 
			width: 100%; 
			height: auto;
		}
	}
}

// MadiaInfo tracks
.mi-track {
	dl {
		@include make-row();
		margin-bottom: 0;

		dt {
			@include make-col-ready();
		}
		dd {
			@include make-col-ready();
			margin-bottom: 0.125rem;
		}

		@include media-breakpoint-up('md') {
			dt {
				@include make-col(5);
				@include text-truncate();
				text-align: right;
			}
			dd {
				@include make-col(7);
			}
		}

		@include media-breakpoint-up('lg') {
			dt {
				@include make-col(4);
			}
			dd {
				@include make-col(8);
			}
		}

		@include media-breakpoint-up('xl') {
			dt {
				@include make-col(3);
			}
			dd {
				@include make-col(9);
			}
		}
	}
}